In [87]:


from PIL import Image
import numpy as np
import pandas as pd
import cv2

Collecting opencv-python
  Downloading opencv_python-4.5.5.62-cp36-abi3-win_amd64.whl (35.4 MB)
Requirement already satisfied: numpy>=1.19.3 in c:\users\welcome\anaconda3\lib\site-packages (from opencv-python) (1.20.3)
Installing collected packages: opencv-python
Successfully installed opencv-python-4.5.5.62

In [1]:
import cv2

In [2]:
img = cv2.imread('resized_nearest.jpg')

In [4]:
img.size

396900

In [5]:
len(img)

420

In [6]:
len(img[0])

315

In [7]:
len(img[0][0])

3

In [14]:
borderoutput = cv2.copyMakeBorder(
    img, 20, 20, 20, 20, cv2.BORDER_CONSTANT, value=[0, 0, 0])

In [15]:
cv2.imwrite('output.png', borderoutput)

True

In [17]:
print(len(borderoutput))
print(len(borderoutput[0]))
print(len(borderoutput[0][0]))

460
355
3

In [18]:
type(borderoutput)

numpy.ndarray

In [64]:
borderoutput.shape

(460, 355, 3)

In [69]:
borderoutput[0][0][0]

0

In [76]:
borderoutput[0][0:355]

array([[0, 0, 0],
       [0, 0, 0],
       [0, 0, 0],
       ...,
       [0, 0, 0],
       [0, 0, 0],
       [0, 0, 0]], dtype=uint8)

In [77]:
borderoutput.shape[0]

460

In [78]:
borderoutput.shape[1]

355

In [79]:
borderoutput.shape[2]

3

In [80]:
bd_diff = borderoutput.reshape((borderoutput.shape[0]*borderoutput.shape[1]), borderoutput.shape[2])

In [81]:
bd_diff.shape

(163300, 3)

In [84]:
import pandas as pd
df = pd.DataFrame(bd_diff, columns = ['c1', 'c2', 'c3'])

In [85]:
df

        c1  c2  c3
0        0   0   0
1        0   0   0
2        0   0   0
3        0   0   0
4        0   0   0
...     ..  ..  ..
163295   0   0   0
163296   0   0   0
163297   0   0   0
163298   0   0   0
163299   0   0   0

[163300 rows x 3 columns]

In [86]:
df.to_csv('result.csv', index = False)