In [4]:
import pandas as pd
df = pd.DataFrame({
"Date": ["2015-12-06", "2011-12-27", "2015-09-07", "2012-12-21", "2020-02-13", "2015-06-09"],
"R_id":[5, 6, 7, 8, 9 , 11],
"Phy":[9, 10, 11 ,12, 13 , 99],
"Chem":[13, 14, 15, 16, 99, 100],
"Math": [1,2,3,4,5, 7],
 },)

In [5]:
df

         Date  R_id  Phy  Chem  Math
0  2015-12-06     5    9    13     1
1  2011-12-27     6   10    14     2
2  2015-09-07     7   11    15     3
3  2012-12-21     8   12    16     4
4  2020-02-13     9   13    99     5
5  2015-06-09    11   99   100     7

In [6]:
df["Date"] = pd.to_datetime(df["Date"])

In [7]:
df["Month"] = df["Date"].dt.strftime('%B')

In [8]:
print(df)

        Date  R_id  Phy  Chem  Math      Month
0 2015-12-06     5    9    13     1   December
1 2011-12-27     6   10    14     2   December
2 2015-09-07     7   11    15     3  September
3 2012-12-21     8   12    16     4   December
4 2020-02-13     9   13    99     5   February
5 2015-06-09    11   99   100     7       June

In [19]:
sr =  df["Month"].value_counts()
freq = sr.iloc[:1].values[0]

In [31]:
mi = sr.sort_index()
mt = mi[mi.values == freq].index[0]
mtr = mt[0:3].upper()

December DEC

In [36]:
df1 = df.set_index("Month")

In [39]:
c = round(df1.loc[mt]["Chem"].mean(),2)
p = round(df1.loc[mt]["Phy"].mean(),2)
m = round(df1.loc[mt]["Math"].mean(),2)