In [98]:
import pandas as pd

df =  pd.read_csv("Target.csv")

In [99]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           101 non-null    int64
 1   FeatureName  101 non-null    object
 2   Target       101 non-null    int64
dtypes: int64(2), object(1)
memory usage: 2.5+ KB

In [100]:
df.nunique()

id             101
FeatureName     10
Target           2
dtype: int64

In [101]:
farr =  df.groupby('FeatureName')['Target'].mean()

In [102]:
farr.index

Index(['f1', 'f10', 'f2', 'f3', 'f4', 'f5', 'f6', 'f7', 'f8', 'f9'], dtype='object', name='FeatureName')

In [103]:
for i in farr.index:
    
    df.loc[df['FeatureName'] == i, ['FeatureName']] = farr[i]

In [104]:
df.head()

   id FeatureName  Target
0   0    0.666667       1
1   1         0.5       0
2   2         0.5       1
3   3    0.636364       1
4   4        0.75       1

In [105]:
i = 'f2'
print(farr[i])

0.5

In [111]:
df.reset_index(drop=True)

      id FeatureName  Target
0      0    0.666667       1
1      1         0.5       0
2      2         0.5       1
3      3    0.636364       1
4      4        0.75       1
..   ...         ...     ...
96    96       0.625       0
97    97    0.571429       0
98    98        0.75       1
99    99         1.0       1
100  100        0.75       0

[101 rows x 3 columns]

In [113]:
df.to_csv('Result.csv', index=False)