In [8]:
import pandas as pd
import numpy as np
df= pd.read_csv('input_data.csv')

In [4]:
df

    id  dataPoints
0    0        72.0
1    1        69.0
2    2        83.0
3    3        70.0
4    4        78.0
..  ..         ...
95  95        99.0
96  96        61.0
97  97        79.0
98  98        99.0
99  99        99.0

[100 rows x 2 columns]

In [21]:
df.fillna(0, inplace = True)

In [18]:
df.replace(-np.inf, -1, inplace = True)

In [19]:
df.replace(np.inf, 1, inplace = True)

In [23]:
df['dataPoints'] = round(df['dataPoints']**(1/2),2)

In [25]:
df.to_csv('output_data.csv')

    id  dataPoints
0    0        72.0
1    1        69.0
2    2        83.0
3    3        70.0
4    4        78.0
..  ..         ...
95  95        99.0
96  96        61.0
97  97        79.0
98  98        99.0
99  99        99.0

[71 rows x 2 columns]